html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.paginationBttns{
  width:95%;
  /* height: 20px; */
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.paginationBttns a{
  padding:7px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  color:#000 ;
  background-color: #ddd;
  cursor: pointer;

}

.paginationActive a{
  background-color: #8c1818;
  color: #fff;
}

.previousBttn, .nextBttn{
  background-color: transparent;
}